#story {
  display: none;
}

body {
  margin-top: 20px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
}

#subtitle {
  font-size: 2em;
}

#story {
  font-variant: small-caps;
  font-size: 2em;
  margin-top: 100px;
  color: white;
}
